body{ 
    margin:0;
    font-family: sans-serif;
    color: #000000;
    background-color: transparent;
}
header{
    text-align: center;
    color: rgb(151, 2, 2);
    padding: 35px;
    background-color: #f2d9d9;
}
main{
    width:100%;
    background-color: antiquewhite;
    max-width: 1800px;
}
.caja{
    background-color: #ffff;
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 100px;
    border: #000000 solid 10px;
}
.presentacion img{
    width: 500px;
    max-width: 100%;
    height: auto;
}
.presentacion{
    padding: 30px;
}

footer{
    background-color: #000000;
    color: white;
    padding: 15px;
}

/*main{
    display: flex;
    gap:20px;
    align-items: flex-start;
}*/
    
.flexbox-main{
    display: flex;
    gap: 20px;
    text-align: 20px;
    background-color: #f2d9d9;

}
.flexbox-main2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: 20px;
    background-color: #f2d9d9;

}

.contenedor{
    padding: 15px;
    margin: 10px;
}

.menu{
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}
.menu a{
    background-color: #6f4631;
    color: white;
    padding: 8px;
    border-radius: 7px;
    text-decoration: none;
}

.menu a:hover{
    background-color: rgb(245, 48, 48);
    color:rgb(98, 97, 97)
}

section{
    margin: 50px;
}

.boton {
    display: inline-block;
    background-color: #f30a0a;
    color: white;
    padding: 8px 5px;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;

}

.boton:hover{
    color:#000000;
    background-color: #790e0e;
}

.boton-secundario {
    display: inline-block;
    background-color: #e42828;
    color: white;
    padding: 8px 5px;
    border-radius: 8px;
    margin-top: 10px;
    text-decoration: none;

}
.tarjetas{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;

}

.tarjeta{
background-color: white;
width: 33%; 
max-width: 320px;
padding: 20px;
border-radius: 15px;
}

.tarjeta h3{
    margin-top: 0px;

}

@media(max-width: 700px){
    .encabezado-contenido
    .presentacion-contenido
    .promocion-contenido {
        flex-direction: column;
        align-items: flex-start;
    }
    .menu a{
        width: 100%;
        text-align: center;
    }
    .tarjeta{
        width:100%;
    }
    .seccion{
        padding:35px;
    }
    /* Imagen se ajusta a 200px en móvil */
    .presentacion img{
        width: 200px;
    }
} 